<!DOCTYPE html>
<html>
<title>sample</title>

<head>
    <h1 style="text-align:center;color:white;opacity:0.8;">  CHANCE OF ADMISSION</h1>
    <h1 style="text-align:center;color:white;opacity:0.8;">  {{ lower_limit }}</h1>

    <p style="text-align:center;"> <img src="https://media1.tenor.com/images/6a6e23e01f3753c0cd9406e6fce503ed/tenor.gif?itemid=12072928;" ></p>




    <style>
            body
             {
		background-image: url('https://wallpapercave.com/wp/wp2725720.jpg');
		opacity:0.9;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
         }

         </style>
</head>
<body><center><h1 style="text-align:center;color:white;opacity:0.8;">YOU DON'T HAVE A CHANCE WITH THE TOP UNIVERSITIES</h1></center>

</html>
